# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment folders
venv/
.env/

# Ignore data files
Data/raw/
Data/processed/

# Ignore model files
Models/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore environment files
*.env
